In [1]:
#import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#load dataset and store  
data = pd.read_csv('fuel.csv')
data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

### Question 1

In [3]:
A =[1,2,3,4,5,6]
B= [13,21,34]

A.extend(B)
print("Extend: ",A)

A.append(B)
print("Append: ",A)

Extend:  [1, 2, 3, 4, 5, 6, 13, 21, 34]
Append:  [1, 2, 3, 4, 5, 6, 13, 21, 34, [13, 21, 34]]

Ans = A.extend(B)

### Question 2

In [4]:
np.array[(1, 0, 0), (0, 1, 0), (0, 0, 1)]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
np.array([1, 0, 0], [0, 1, 0], [0, 0, 1])

In [ ]:
eye(3)

In [ ]:
np.identity(3)

Ans = np.identity(3)

### Question 3

In [ ]:
# group by 'fuel_type_code_pudl' and calculate the mean 'fuel_cost_per_unit_burned' to find 
#lowest fuel cost per unit burned by fuel type code

data.groupby('fuel_type_code_pudl').fuel_cost_per_unit_burned.mean().sort_values()

Ans = gas

### Question 4

In [ ]:
# Standard deviation and 75th percentile of fuel_mmbtu_per_unitin 2 decimal places
standard_deviation= data.fuel_mmbtu_per_unit.std()
print("Standard deviation: ", round(standard_deviation,2))

percentile= data.fuel_mmbtu_per_unit.quantile(0.75)
print("75th percentile: ", round(percentile, 2))

Ans = 10.6 and 17.01

### Question 5

In [ ]:
# Skewness and Kurtosis of the fuel quantity in 2 decimal places
skewness= data.fuel_qty_burned.skew()
print("Skewness:", round(skewness, 2))

kurtosis= data.fuel_qty_burned.kurt()
print("Kurtosis:", round(kurtosis, 2))

Ans= 15.85 and 651.37

### Question 6

In [ ]:
# Feature with missing values, total number of missing values and percentage in 3 decimal places

# total number of missing values
print(data.isna().sum().sort_values(ascending=False))

# percentage of missing values
missing = data.fuel_unit.isna().sum()
rows = data.shape[0]
percentage_missing = (missing / rows) * 100
print("Percentage of missing values: ", round(percentage_missing, 3))

 Ans= Feature:fuel_unit, Total:180, Percent:0.610

### Question 7

In [ ]:
# Missing value type
#since fuel_unit is the missing vale, we check for the data type 
data.fuel_unit.dtypes

'O' stands for the datatype 'object', which is a categorical variable

Ans= categorical and mode imputation

### Question 8

In [ ]:
# Second and third lowest correlation with the Fuel Cost Per Unit Burned?
correlation = data.corr()
correlation.fuel_cost_per_unit_burned.sort_values().sort_values(ascending=False)

Ans= fuel_qty_burned and fuel_mmbtu_per_unit

### Question 9

In [ ]:
# Percentage change of coal in the fuel cost per unit burned in 1998 compared to 1994?
# select records with fuel type coal for 1994 and 1998
coal_1994 = data.loc[(data['fuel_type_code_pudl'] == 'coal') & ((data['report_year'] == 1994))]
coal_1998 = data.loc[(data['fuel_type_code_pudl'] == 'coal') & ((data['report_year'] == 1998))]

#calculate sum of both
coal_1994_sum = coal_1994.fuel_cost_per_unit_burned.sum()
coal_1998_sum = coal_1998.fuel_cost_per_unit_burned.sum()

#
percent_change = (coal_1998_sum - coal_1994_sum) / coal_1994_sum * 100
print("Percentage change of coal: ", round(percent_change))

Ans= -21%

### Question 10

In [ ]:
# Year with the highest average fuel cost per unit delivered
# group by 'report_year' and calculate mean of 'fuel_cost_per_unit_burned'
data.groupby('report_year').fuel_cost_per_unit_delivered.mean().sort_values(ascending = False)[:3]

Ans= 1997